# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
ENV/
*.conda
*.yaml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data / SQLite
*.db
*.sqlite3

# Streamlit
.streamlit/

# Logs
*.log
